<div class="navbar">
  <div class="container">
    <ul class="navbar__menu-wrapper">
      <li class="navbar__menu-item"><a href="/">Home</a></li>
      <li class="navbar__menu-item"><a href="/portfolio">Portfolio</a></li>
      <li class="navbar__menu-item"><a href="/about">About</a></li>
    </ul>
  </div>
</div>
